<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsWKlGUgz0K4eUhD7K6omFpXb5Dn_uyeA</string>
	<key>GCM_SENDER_ID</key>
	<string>704669957190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hulsCoffeeHouse</string>
	<key>PROJECT_ID</key>
	<string>hulscoffeehouse</string>
	<key>STORAGE_BUCKET</key>
	<string>hulscoffeehouse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704669957190:ios:46510335164786a9e15e47</string>
</dict>
</plist>